@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  overflow-x: hidden;
  /* font-family: "Roboto", sans-serif; */
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
}
html,
body,
iframe {
  height: 100%;
}

/* Toggle Styles */

#viewport {
  /* padding-left: 300px; */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

.header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  background: linear-gradient(#1d2020, #1e5056);
}
.header.padding__bottom {
  padding: 8px 6px 28px;
}

.header h3 {
  color: #ffff;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}
p.active {
  font-weight: bold;
  color: #5ec9c5;
  border-bottom: 2px solid #5ec9c5;
}
.idare__logo {
  padding: 10px 0;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
  width: 20%;
}
.navbar {
  margin-bottom: 0px;
}

.text {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.button_3d {
  width: 55px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  height: 55px;
  color: #ffff;
}

.button_3d p {
  margin-bottom: 0px;
}
/* .header h3 {
  color: #5bc9c5;
  font-size: 1.3rem;
  padding: 0px 0;
  text-align: center;
} */
.tripple__buttons {
  display: flex;
  justify-content: space-evenly;
}
.btns {
  color: #ffff;
  text-align: center;
  padding: 0 2px;
  cursor: pointer;
}
iframe {
  height: 100vh;
  width: 100%;
}
.tab_btns {
  display: flex;
  width: 400px;
  justify-content: left;
  margin-left: -35px;
  margin-top: 4px;
}
p.tab_btn {
  border: 1px solid #666;
  padding: 0px 4px;
}
/* p.tab_btn_top {
  border: 1px solid #ffffff;
  padding: 0px 4px;
  background: black;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom: none;
} */
p.tab_btn:first-child {
  border-right: none;
}
p.active.tab_btn {
  font-weight: 400;
  border-bottom: 2px solid #5ec9c5;
}
/* p.active.tab_btn_top {
  border-bottom: 2px solid #55ff00;
}
p.active.tab_btn_top {
  border-top: 2px solid #55ff00;
} */
.a21__logo {
  display: flex;
}
.ser_buttons {
  padding: 2px;
}
.iframe_header {
  margin: 0;
  text-align: center;
  color: #fddf33;
  background: #e93f33;
  padding: 5px 0;
}

.dropbtn {
  border: 1px solid #666;
  padding: 0px 4px;
  background: transparent;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
button:focus {
  outline: none;
  border-bottom: 2px solid #5ec9c5;
}
.active.dropdown button {
  border-bottom: 2px solid #5ec9c5;
  color: #5ec9c5;
}
